<ion-view  class='bg-grey'>
	<ion-nav-title>
	 <div class='color-yellow text-center'> {{ 'Trip Details' | langTranslate: appConvertedLang['Trip_Details'] }}</div>
  </ion-nav-title>
	<ion-content  >
		<div class='h-100-p  '>
			<div id='det-box1'>
				
				<div class="row ">
						<div class="col col-50 " >
								<p class='color-white'>{{ 'BOOKING ID' | langTranslate: appConvertedLang['BOOKING_ID'] }}</p>
						</div>
						<div class="col col-50 " >
							<div class="color-gery">{{details.uneaque_id}} </div>
						</div>
				</div>
				<div class="row ">
						<div class="col col-50 col-center" >
								<p class='color-white'> {{ 'PICKUP POINT' | langTranslate: appConvertedLang['PICKUP_POINT'] }}</p>
							<div class=" color-gery">{{details.pickup_area}}</div>
						</div>
						<div class="col col-50 col-center" >
							<div class="m-top-30 color-gery">{{details.pickup_time}} , {{details.pickup_date}}</div>
						</div>
				</div>
				<div class='m-top-30 text-center'>
					<hr class='yellow-hr'></hr>
					<span class='mid-item bg-grey color-white'>  {{ 'TO' | langTranslate: appConvertedLang['TO'] }}</span>
				</div>
				
				<div class="row ">
						<div class="col  col-center">
							<p class='color-white'>{{ 'DROP POINT' | langTranslate: appConvertedLang['DROP_POINT'] }}</p>
							<div class=" color-gery">{{details.drop_area}}</div>
						</div>
						<div class="col   col-center" >
							<div class="m-top-30 color-gery" ng-show='details.drop_time.length'>{{details.drop_time}} , {{details.drop_date}}</div>
						</div>
				</div>
				
			</div>
			<p class='text-center color-yellow bg-light p-head no-margin'>{{ 'VEHICLE DETAILS' | langTranslate: appConvertedLang['VEHICLE_DETAILS'] }}</p>
			
			<div class="row no-padding b-border-light">
						<div class="col  r-border-light p-10 text-center" >
							<p class='color-white p-head '>{{ 'CAB TYPE' | langTranslate: appConvertedLang['CAB_TYPE'] }}</p>
							<p class='color-gery'>{{details.taxi_type}}</p>
						</div>
						<div class="col  p-10 text-center" >
							<p class='color-white p-head '> {{ 'DRIVER DETAILS' | langTranslate: appConvertedLang['DRIVER_DETAILS'] }}</p>
							<p class='color-gery'>{{details.user_name}}</p>
						</div>
			</div>
			
			<div id='det-box2' class='b-border-light f-size-17'>
				<div class='row'>
					<div class='col'><p class='color-yellow p-head no-margin'> {{ 'Payment Details' | langTranslate: appConvertedLang['Payment_Details'] }}</p> </div>
				</div>
				<div class="row p-top-5  b-border-light">
						<div class="col  p-10 col-center" >
							<p class='color-gery no-margin'>{{ 'Distance' | langTranslate: appConvertedLang['Distance'] }}</p>
						</div>
						<div class="col   p-10 text-center col-center" >
							<p class='pull-right'><span class='color-gery'>{{details.km}}</span> </p>
						</div>
				</div>
				<div class="row p-top-5 b-border-light">
						<div class="col  p-10 col-center" >
							<p class='color-gery no-margin'>{{ 'Total Amount' | langTranslate: appConvertedLang['Total_Amount'] }}</p>
						</div>
						<div class="col   p-10 text-center col-center" >
							<p class='pull-right' ng-repeat='item in all_settings'><!-- <span class='color-yellow'>₹</span> --> 
								<span class='color-yellow'>{{item.currency | split:',':1}}</span>
								<span class='color-gery'>{{details.amount}}</span></p>
						</div>
				</div>
                <div ng-show='accept_btn== true'>
<button class="button button-block button-energized" ng-click="accept_rade(details.pickup_area,details.drop_area)">{{ 'Accept' | langTranslate: appConvertedLang['Accept'] }}</button>
                    </div>
			</div>	
			<p class='text-center color-white p-head'>{{ 'SEND YOUR FEED BACK' | langTranslate: appConvertedLang['SEND_YOUR_FEED_BACK'] }}</p>
		</div>
		<div class='color-white text-center net-error' >{{ 'No network connection!' | langTranslate: appConvertedLang['No_network_connection'] }}</div>	
	</ion-content>
</ion-view>	